.container {
  margin-top: 2%;
  margin-inline: auto;
  width: min(90%, 70.2rem);
}

.key-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-title {
  text-align: center;
}

.movement-keys {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 1rem;
}

.movement-keys span {
  text-align: center;
  padding: 0.5rem;
  background: #333;
  border-radius: 5px;
}

.up {
  grid-column: 2;
}

.down {
  grid-column: 2;
  grid-row: 3;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 3;
}

.add-box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid var(--primary);
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
}
.btn:hover {
  background: var(--primary);
  color: var(--text-color-dark);
}
.box-container {
  margin-top: 2%;
  width: 100%;
  height: auto;
  min-height: 55vh;
  background: rgb(160, 160, 160, 0.2);
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  width: 8rem;
  height: 8rem;
  background: rebeccapurple;
  opacity: 0.4;
  cursor: pointer;
}

.box:focus,
.box.box--selected {
  outline: 2px solid var(--primary);
}
